{% extends 'base.html' %}
{% set state = 'loggedout	' %}

{% block heading %} Login {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}
	<script src="../static/js/login.js"></script>
		<div class="container">
			<div class="row card medium">
				<form class="col s12 m6 offset-m3" method="POST" action="/signin">
					<div class="card-content">
						<div class="row">
							<h5 class=" card-title flow-text"> Login </h5>
						</div>
						<div class="row input field">
							<div class="col s12 input-field">
								<i class="material-icons prefix">account_circle</i>
								<input id="email" type="email" class="validate" >
								<label for="icon_prefix">Email</label>
							</div>
							<!-- <div class="col s12 m2 center-align"> -->
								<!-- <span class="flow-text"> OR </span> -->
							<!-- </div> -->
							<!-- <div class="col s12 m5 input-field"> -->
								<!-- <i class="material-icons prefix">face</i> -->
								<!-- <input id="icon_prefix" type="text" class="validate" maxlength="25" name="username"> -->
								<!-- <label for="icon_prefix">Username</label> -->
							<!-- </div> -->
						</div>
						<div class="row input-field">
							<div class="col s12 input-field">	
								<i class="material-icons prefix">https</i>
								<input id="password" type="password" class="validate" required="true">
								<label for="https">Password</label>
							</div>
						</div>
					</div>
					<div class="card-action">
					<div class ="row">
						<div class="right">
							<button id="submit"class="btn waves-effect waves-dark teal lighten-2" type="button" name="action">Login
								<i class="material-icons right">send</i>
							</button>
						</div>
						
						<div class="left">
						<a href="/signup">
						<button class="btn waves-effect waves-dark teal lighten-2" type="button">Register
								<i class="material-icons right">send</i>
							</button></a>
						</div>

					</div>
					</div>
				</form>
			</div>
		</div>	
{% endblock %}
