{% extends 'base.html' %}
{% set state = "loggedout" %}

{% block heading %} Signup {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block scripts %}
	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>
	<script>
		$(function () {
			$("#submit").click(function () {
				var password = $("#https1").val();
				var confirmPassword = $("#https2").val();
				if (password != confirmPassword) {
					alert("Passwords do not match.");
					return false;
				}
				return true;
			});
		});	
	</script>
	{{ super() }}
{% endblock %}
{% block color %} white {{ super() }} {% endblock %}
{% block content %}
		<div class="container white">
			<div class="row">
				<div class="col s12 m6 offset-m3">
					<h2 class="header center-on-small-only">Sign Up</h2>
					<h4 class ="light teal-text text-lighten-3 center-on-small-only">It won't take long.</h4>
				</div>
			</div>
			<div class="row">
				<form class="col s12 m6 offset-m3" method="POST" action="/signup" enctype = "multipart/form-data">
					<div class="row">
						<div class="input-field">
							<i class="material-icons prefix">account_circle</i>
							<input id="icon_prefix" type="text" class="validate" maxlength="25" required="true" name="username">
							<label for="icon_prefix">User Name</label>
						</div>
					</div>	
					<div class="row">	
						<div class="input-field">
							<i class="material-icons prefix">email</i>
							<input id="email" type="email" class="validate" name="email" required="true">
							<label for="email">Email ID</label>
						</div>
					</div>
					<div class="row">	
						<div class="input-field">
							<i class="material-icons prefix">https</i>
							<input id="https1" type="password" class="validate" name="password" required="true">
							<label for="https1">Password</label>
						</div>
					</div>
					<div class="row">	
						<div class="input-field">
							<i class="material-icons prefix">https</i>
							<input id="https2" type="password" class="validate" name="password_2" required="true">
							<label for="https2">Confirm Password</label>
						</div>
					</div>
					<div class="row">
						<span class="flow-text red-text" id="error"></span>
					</div>
					<div class="row">
						<div class="input-field">
							<i class="material-icons prefix">functions</i>
							<input id="business" type="text" class="validate" name="institute">
							<label for="business">Institute/Organization</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field">
							<i class="material-icons prefix">location_on</i>
							<input id="location" type="text" class="validate" name="location">
							<label for="location">Location</label>
						</div>
					</div>
					<div class = "row">
						<label>Please upload a photo</label>
						<div class="file-field input-field">
							<div class="btn">
								<input type="file" name="file0">
								<span>UPLOAD</span>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" >
						  	</div>
						</div>
					</div>
					<div class="row">
						<label for="role"> Register As </label>
						<div class="input-field">
							<select id="role" name="role" required="true">
								<option value="admin"> Admin 
								</option>
								<option value="user"> User </option>
							</select>
						</div>
					</div>
					<div class ="row">
						<div class="button-field right">
							<button class="btn waves-effect waves-dark" type="submit" name="submit" id="submit">Register
								<i class="material-icons right">send</i>
							</button>
						</div>		
					</div>
				</form>	
			</div>	
		</div>	
{% endblock %}