{% extends 'final/base.html' %}
{% block heading %} Login {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}
		<div class="container">
			<div class="row card medium">
				<form class="col s12 m6 offset-m3">
					<div class="card-content">
					<div class="row">
					<h5 class=" card-title flow-text"> Login </h5>
					</div>
					<div class="row input-field">
						<i class="material-icons prefix">account_circle</i>
						<input id="icon_prefix" type="text" class="validate">
						<label for="icon_prefix">User Name/Email</label>
					</div>
					<div class="row input-field">	
						<i class="material-icons prefix">https</i>
						<input id="https" type="password" class="validate">
						<label for="https">Password</label>
					</div>
					</div>
					<div class="card-action">
					<div class ="row">
						<div class="right">
							<button class="btn waves-effect waves-dark teal lighten-2" type="submit" name="action">Login
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>	
{% endblock %}
