{% extends 'base.html' %}
{% block heading %} P{{title}} - Comments {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block scripts %}
<script>
	$(document).ready(function() {
		$('select').material_select();
	});
</script>
{{ super() }}
{% endblock %}

{% block content %}

<div class="container">
	<div class="row card-panel teal darken-2 flow-text white-text">Problem - {{ title }}</div>
	<div class="row card-panel">
		<span class="card-title flow-text"> Editorial </span>
		<div class="divider"></div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>
	<div class="row card">
		<div class="card-content">
			<div class="card-title flow-text">Comments</div>
			<div class="divider"></div>
			<div class="collection">
				{% for comment in comments %}
				<a class="collection-item avatar black-text">
					<img src="{{ comment.profile_pic }}" alt="image" class="circle">
					<span class="title flow-text">{{comment.name}}</span>
					<p>
						{{ comment.timestamp }}
						<div class="divider"></div>
						{{ comment.body }}
					</p>
				</a>
				{% endfor %}
				<a class="collection-item avatar black-text">
					<img src="http://lorempixel.com/200/200" alt="image" class="circle">
					<span class="title flow-text">Name</span>
					<p>
						12-03-2016 12:34 +5:30 UTC
						<div class="divider"></div>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</a>
			</div>
		</div>
		<div class="card-action center-align">
			<ul class="pagination">
				<li class="pagination-item"><i class="material-icons disabled">chevron_left</i></li>
				<li class="pagination-item"><a href="#!">1</a></li>
				<li class="pagination-item"><a href="#!">2</a></li>
				<li class="pagination-item"><a href="#!">3</a></li>
				<li class="pagination-item"><a href="#!">4</a></li>
				<li class="pagination-item"><a href="#!">5</a></li>
				<li class="pagination-item"><i class="material-icons disabled">chevron_right</i></li>
			</ul>
		</div>
	</div>
	<div class="row card teal lighten-5">
		<form action="/comments/{{ title }}" method = "POST">
			<div class="card-content">
				<div class="card-title span-text">Add Comment</div>
				<div class="divider"></div><br>
				<div class="row input-field">
					<i class="material-icons prefix">mode_edit</i>
					<textarea id="icon_prefix2" class="materialize-textarea" name="body"></textarea>
					<label for="icon_prefix2">Write something here...</label>
					<input type="hidden" name="user_id" value="{{ user_id }}">
				</div>
			</div>
			<div class="card-action right-align">
				<button class="btn waves-effect waves-dark" type="submit" name="action">Comment
					<i class="material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}