{% extends "base.html.j2" %}
{% block heading %} Homepage {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="container">
	<!-- <div class="row" >
		<form method="POST" action="/search" class="input-field col s12">
			<input type="text" max="200" id="search" name="search" placeholder="Search for question by name, code, tags" class="col s11">
			<button type="submit" class="btn col s1 teal darken-3"><i class="material-icons">search</i></button>
		</form>
	</div> -->
	<div class="row">
		<h3 class="left-align flow-text"> New Problems </h3>
	</div>
	<!-- Problems uploaded within the first few days -->
	<!-- Will Always contain the latest  -->
	<div class="row">
		{% if latest_problems | length %}
		{% for problem in latest_problems %}
		<!-- Iterate block  -->
		<div class="col s12 m3 l4">
			<div class="card small">
				<div class="card-content">
					<h5 class="flow-text card-title activator"> Problem {{ problem.id }} - {{ problem.title }} </h5>
					<a class="waves-effect waves-dark btn grey darken-2" href="/problems/{{ problem.uid }}">
						<i class="material-icons left"> code </i>
						Attempt
					</a>
				</div>
				<div class="card-action">
					{% for tag in problem.tags %}
					<div class="chip"> {{ tag }} </div>
					{% endfor %}
				</div>
				<div class="card-reveal">
					<span class="card-title">Problem {{ problem.id }} - {{ problem.title }}</span>
					<p>{{ problem.abstract }}</p>
					<a class="waves-effect waves-dark btn grey darken-2" href="/problems/{{ problem.uid }}">
						<i class="material-icons left"> code </i>
						Attempt
					</a>
				</div>
			</div>
		</div>
		<!-- End block here  -->
		{% endfor %}
		{% else %}
		<div class="col s12 m12 card-panel">
			<span class="flow-text"> No New Problems yet! </span>
		</div>
		{% endif %}
	</div>
	<div class="divider"></div>
	<div class="row">
		<h3 class="left-align flow-text"> Other Problems </h3>
	</div>
	<div class="row">
		{% if current_page | length %}
		{% for problem in current_page %}
		<div class="col s12 m3 l4">
			<div class="card small">
				<div class="card-content">
					<h5 class="flow-text card-title activator"> Problem {{ problem.id }} - {{ problem.title }} </h5>
					<a class="waves-effect waves-dark btn grey darken-2" href="/problems/{{ problem.uid }}">
						<i class="material-icons left"> code </i>
						Attempt
					</a>
				</div>
				<div class="card-action">
					{% for tag in problem.tags %}
					<div class="chip"> {{ tag }} </div>
					{% endfor %}
				</div>
				<div class="card-reveal">
					<span class="card-title">Problem {{ problem.id }} - {{ problem.title }}</span>
					<p>{{ problem.abstract }}</p>
					<a class="waves-effect waves-dark btn grey darken-2" href="/problems/{{ problem.uid }}">
						<i class="material-icons left"> code </i>
						Attempt
					</a>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<div class="col s12 m12 card-panel">
			<span class="flow-text"> Hang tight! Problems will be updated </span>
		</div>
		{% endif %}
	</div>
	{% if total_pages %}
	<div class="row card-panel">
		<div class="col s12 m3 center-align">
			<a href="/1" class="btn-floating teal darken-3 waves-effect waves-dark"><i class="material-icons">flip_to_back</i></a>
		</div>
		
		<div class="col s12 m2 center-align">
			<a href="/{{ current_page_number - 1}}" class="btn-floating teal darken-3 waves-effect waves-dark
			{% if current_page_number == 1 %} disabled {% endif %}"><i class="material-icons">chevron_left</i></a>
		</div>
		<div class="col s12 m2 center-align"> 
			<span><em>Page {{ current_page_number }} of {{  total_pages }}</em></span>
		</div>
		
		<div class="col s12 m2 center-align">
			<a href="/{{ current_page_number + 1}}" class="btn-floating teal darken-3 waves-effect waves-dark {% if current_page_number == total_pages %} disabled {% endif %}"><i class="material-icons">chevron_right</i></a>
		</div>
		<div class="col s12 m3 center-align">
			<a href="/{{ total_pages }}" class="btn-floating teal darken-3 waves-effect waves-dark"><i class="material-icons">flip_to_front</i></a>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}