{% extends 'base.html' %}

{% set problem_uid = problem.uid %}

{% block heading %} Problem {{ problem.title }} {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<input type="hidden" id="problem_uid" value="{{problem.uid}}">

<input type="hidden" id="user_uid" value="{{session.user_uid}}">
	<script src="../static/js/problem_submission.js"></script>
		<div class="container">
			<div class="row">
				<h4 class="flow-text"> Problem {{ problem.id }} - {{ problem.title}}</h4>
				<div class="divider"></div>
			</div>
			<div class="row">
				{% for tag in problem.tags %}
				<div class="chip"> {{ tag }}</div>
				{% endfor %}
			</div>
			<div class="row">
				<p class = "flow-text"> 
					{{ problem.problem}}
				</p>
				<div class="divider"></div>
				<div class="col s12 card-panel z-depth-2">
					<h5 class="flow-text"> Constraints </h5>
					<p class="flow-text">
						<!-- <code> 1 <= N <= 10<sup>5</sup> </code> <br>
						<code> 1 <= M <= 5 </code>
 -->					
 						{% for constraint in problem.constraints %}
 						{{constraint}}
 						<br />
 						{% endfor %}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="divider"></div>
			</div>
			<!-- <div class="row"> -->
				
			<!-- </div> -->
			<div class="row">
			<h5 class="flow-text"> Test Cases</h5>

			{% for i in range(problem.testcases) %}
				<div class="col s12 m4 card-panel">
					<h5 class="flow-text"> Input </h5>
					<p class = "flow-text">	
						{% for j in range(problem.inputlength) %}
							{{problem.inputs[j]}}
							<br />
						{% endfor %}
					</p>	
					<h5 class="flow-text"> Output </h5>
					<p class = "flow-text">	
						{% for j in range(problem.outputlength) %}
							{{problem.outputs[j]}}
							<br />
						{% endfor %}
					</p>
				</div>
			{% endfor %}
			</div>

			<div class="row">
				<div class="divider"></div>
			</div>
			{% if session.user_uid %}
			<div class="row">
				<div class="col s12 card small z-depth-2">
					<div class="card-content">
						<h5 class="flow-text"> Upload Solution</h5>
						<form action="#" enctype="multipart/form-data" method="POST">
						<div class="col s12">
							<input type="hidden" id="user_uid" value="{{session.user_uid}}">
							<!-- Iterate through languages here  -->
							<p class="col s12 m3">
								<input name="language" type="radio" id="C" value="C"> 
								<label for="C"> C</label>
							</p>
							<p class="col s12 m3">
								<input name="language" type="radio" id="Cpp" value="C++"> 
								<label for="Cpp"> C++</label>
							</p>	
							<p class="col s12 m3">
								<input name="language" type="radio" id="python2" value="python 2"> 
								<label for="python2"> Python2</label>
							</p>	
							<p class="col s12 m3">
								<input name="language" type="radio" id="python3" value="python 3"> 
								<label for="python3"> Python3</label>
							</p>
						</div>
						<div class="col s12">
							<div class="file-field input-field">
	                      		<div class="btn teal darken-2">
	                        		<span><i class="material-icons">code</i></span>
	                        		<input type="file" name="file007" readonly="true" />
		                      	</div>
	                      		<div class="file-path-wrapper">
	                        		<input class="file-path validate" type="text" required="true" />
	                      		</div>
	                    	</div>
						</div>
					<div class="card-action right-align">
						<button class="btn waves-effect waves-dark" type="submit" name="submit" id="submit">
						Submit!
								<i class="material-icons right">send</i>
							</button>
					</div>

						</form>
					</div>

				</div>
			</div>
			{% endif %}
		</div>
{% endblock %}