{% extends "base.html" %}
{% block heading %} Search results {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<h3 class="left-align flow-text"> Search Results for <u> {{val}} <u> </h3>
	</div>
	
	<div class="row">
	{% if problems | length %}
		{% for problem in problems %}
		<div class="col s12 m12 l12 card">
			<div class="card-content">
				<h5 class="flow-text card-title activator"> Problem {{ problem.id }} - {{ problem.title }} </h5>
				<a class="waves-effect waves-dark btn grey darken-2" href="/problems/{{ problem.uid }}">
					<i class="material-icons left"> code </i>
					Attempt
				</a>
			</div>
			<div class="card-action">
				{% for tag in problem.tags %}
				<div class="chip"> {{ tag }} </div>
				{% endfor %}
			</div>				
		</div>
		{% endfor %}
		
	{% else %}
		<div class="col s12 m12 card-panel">
			<span class="flow-text"> Search again!! </span>
		</div>
	{% endif %}
	</div>

	{% if problems | length %}
	<div class="row card-panel">
		<div class="col s12 m3 center-align">
			<a href="/search/1%3Fval%3D{{val}}" class="btn-floating teal darken-3 waves-effect waves-dark"><i class="material-icons">flip_to_back</i></a>
		</div>
		
		<div class="col s12 m2 center-align">
			<a href="/search/{{ current_page - 1}}%3Fval%3D{{val}}" class="btn-floating teal darken-3 waves-effect waves-dark
			{% if current_page == 1 %} disabled {% endif %}"><i class="material-icons">chevron_left</i></a>
		</div>
		<div class="col s12 m2 center-align"> 
			<span><em>Page {{ current_page }} of {{  total_pages }}</em></span>
		</div>
		
		<div class="col s12 m2 center-align">
			<a href="/search/{{ current_page + 1}}%3Fval%3D{{val}}" class="btn-floating teal darken-3 waves-effect waves-dark {% if current_page == total_pages %} disabled {% endif %}"><i class="material-icons">chevron_right</i></a>
		</div>
		<div class="col s12 m3 center-align">
			<a href="/search/{{ total_pages }}%3Fval%3D{{val}}" class="btn-floating teal darken-3 waves-effect waves-dark"><i class="material-icons">flip_to_front</i></a>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}