<!DOCTYPE html>
<html>
<head>
	{% block title %}
		<title> {% block heading %} {% endblock %} </title>
	{% endblock %}
	<meta charset="utf-8">
	<link href="{{ url_for('static', filename = 'materialize/css/materialize.min.css') }}" type="text/css" rel="stylesheet">
	<script src="{{ url_for('static', filename = 'jQuery/tmp/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename = 'materialize/js/materialize.min.js') }}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% block scripts %}
	{% endblock %}
	{% block style %}
	{% endblock %}
	<style>
	  body {
	    display: flex;
	    min-height: 100vh;
	    flex-direction: column;
	  }

	  main {
	    flex: 1 0 auto;
	  }
	</style>
</head>
<body>
	<header>
		<nav class="teal darken-4">
	    	<div class="nav-wrapper">
	      		<a href="/" class="brand-logo"><i class="material-icons">code</i><span class="flow-text">WebSite Name</span></a>
	      		<a href="#" data-activates="mobile-display" class="button-collapse"><i class="material-icons">menu</i></a>
	      		<ul class="right hide-on-med-and-down">
			        <li> <a href="/profile/user">User Profile</a>  </li>
			        <li> <a href="/profile/admin">Admin Profile</a>  </li>
			        <li> <a href="/">Problems</a>  </li>
			        <li> <a href="/signin">Sign In</a>  </li>
			        <li> <a href="/signup">Sign Up</a>  </li>
	      		</ul>
		    	<ul class="side-nav" id="mobile-display">
			        <li> <a href="/profile">Profile</a>  </li>
			        <li> <a href="/">Problems</a>  </li>
			        <li> <a href="/signin">Logout</a>  </li>
			        <li> <a href="/signup">Sign Up</a>  </li>
		      	</ul>
	    	</div>
		</nav>
	</header>
	<main class="">
	{% block content %}
	{% endblock %}
	</main>
	<footer class="page-footer teal darken-4">
			<div class="container" style="width:100%">
				<div class="row">
					<div class="col s12 m6">
						  <div class="collection with-header">
        					<div class="collection-header active"><h5 class="flow-text">Creators</h5></div>
					        <a class="collection-item flow-text">Shubh M</a>
					        <a class="collection-item flow-text">Pranay G</a>
					        <a class="collection-item flow-text">Neha M</a>
					        <a class="collection-item flow-text">Pratik K</a>
      					</div>
					</div>
					<div class="col s12 m6">
						<div class="card-panel teal darken-3">
							<span class="flow-text"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris"</span>
						</div>
					</div>
				</div>	
			</div>
			<div class="footer-copyright">
				<div class="container">
					<span class="left flow-text"> Copyright &copy; 2017</span>
					<span class="right flow-text">WebSite Name </span>
				</div>
			</div>
	</footer>
</body>
</html>