<link id="prism_css" href="{{ url_for('static', filename = 'js/Prism/prism.css') }}" rel="stylesheet" />
<script id="prism_script" src="{{ url_for('static', filename = 'js/Prism/prism.js') }}"></script>

<div class="card m12 s12">
	<div class="card-content">
		<code class="language-cpp">
		{% for line in file %}	
		
		{{ line }}
		<br>
		{% endfor %}
		</code>
	</div>
</div>	 

<div class="divider"></div>

<h5 class="flow-text">Details</h5>
<div class="card m12 s12">
	<ul class="collection">
		{% for verdict in data.status.split(',') %}
			

		{% if verdict == "Wrong Answer" %}
		<li class="red-text text-darken-2 collection-item"> {{ verdict }}</li>
		
		{% elif verdict == "Timelimit exceeded" %}
		<li class="black-text text-darken-2 collection-item"> {{ verdict }}</li>
		

		{% elif verdict == "Accepted" %}
		<li class="green-text text-darken-2 collection-item"> {{ verdict }}</li>
	
		{% elif verdict == "" %}
		<li class="black-text text-darken-2 collection-item"> unable to find the error </li>
	
		{% else %}
		<li class="black-text text-darken-2">
			{{ verdict }}
		</li>
		
		{% endif%}	
		{% endfor %}
	</ul>
</div>
