<!DOCTYPE html>
<html>
<head>
	<title> User Page </title>
	<meta charset="utf-8">

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/heatmap.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>


	<meta charset="utf-8">
	<link href="../materialize/css/materialize.min.css" type="text/css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../materialize/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
</head>
<body class="teal lighten-2">
<script src="./graph.js"></script>
	
	<header>
		<nav class="teal darken-4">
	    	<div class="nav-wrapper">
	      		<a href="#!" class="brand-logo"><i class="material-icons">code</i><span class="flow-text">WebSite Name</span></a>
	      		<a href="#" data-activates="mobile-display" class="button-collapse"><i class="material-icons">menu</i></a>
	      		<ul class="right hide-on-med-and-down">
			        <li> <a href="#">Profile</a>  </li>
			        <li> <a href="home.html">Problems</a>  </li>
			        <li> <a href="#">Logout</a>  </li>
			        <li> <a href="registration.html">Sign Up</a>  </li>
	      		</ul>
		    	<ul class="side-nav" id="mobile-display">
			        <li> <a href="#">Profile</a>  </li>
			        <li> <a href="#">Problems</a>  </li>
			        <li> <a href="#">Logout</a>  </li>
			        <li> <a href="#">Sign Up</a>  </li>
		      	</ul>
	    	</div>
		</nav>
	</header>

	<main >
		
	<div class="container">
			<div class="row card">
				<div class="card-content">
					<div class="col s12 m4">
						<img src="http://lorempixel.com/400/400" alt="" class="circle responsive-img">
					
					</div>
					
					<div class="col s12 m8">
						<ul class="collection">
					    
					    <li class="collection-item center-align">
					      <span class="title flow-text">Name</span>
					    </li>

					    <li class="collection-item avatar">
					      <i class="material-icons circle green">account_circle</i>
					      <span class="flow-text title">Username</span>
					      <p>user123
					      </p>
					    </li>

					    <li class="collection-item avatar">
					      <i class="material-icons circle red">email</i>
					      <span class="flow-text title">Email</span>
					      <p>username@gmail.com
					      </p>
					    </li>

						<li class="collection-item avatar">
					      <i class="material-icons circle green">functions</i>
					      <span class="flow-text title">Institute/Organization</span>
					      <p>IIIT
					      </p>
					    </li>

						<li class="collection-item avatar">
					      <i class="material-icons circle green">location_on</i>
					      <span class="flow-text title">Location</span>
					      <p>Hydrabad
					      </p>
					    </li>
					</ul>

					</div>
				</div>
			</div>
		
		<div class="card white row m12 s12 z-depth-2"> 
				
				<table class="m12 s12 bordered striped responsive-table">
				<thead>
						<tr>
							<td>Id</td>
							<td>Problem</td>
							<td>Date</td>
							<td>Verdict</td>
							<td>Lang</td>
						</tr>
				</thead>				
				<tbody>
					<tr>
						<td>1</td>
						<td><a href=#>Life</a> </td>
						<td>00/00/0000</td>
						<td class=" light-green accent-3">Accepted</td>
						<td>Python</td>
					</tr>
					<tr>
						<td>2</td>
						<td><a href=#>DIG</a></td>
						<td>12.23.1234</td>
						<td class="red">Wrong Answer</td>
						<td>C++</td>
					</tr>

					<tr>
						<td>3</td>
						<td><a href=#>Minimum Spanning Trees</a></td>
						<td>31/12/1198</td>
						<td class="red">Time Limit exceeded</td>
						<td>C</td>
					</tr>

				</tbody>	
				</table>
			
		</div>
 		
 		<div class=" z-depth-2 row white card" >
		
		<div id="container1" class="white col m5 s12 " style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>

		<div id="container2" class="white col  m7 s12 " style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
		</div>
</div>	
</main>

<footer class="page-footer teal darken-4">
			<div class="container" style="width:100%">
				<div class="row">
					<div class="col s12 m6">
						<div class="card small">
							  <div class="collection with-header">
	        					<div class="collection-header active"><h5 class="flow-text">Creators</h5></div>
						        <a class="collection-item flow-text">Shubh M</a>
						        <a class="collection-item flow-text">Pranay G</a>
						        <a class="collection-item flow-text">Neha M</a>
						        <a class="collection-item flow-text">Pratik K</a>
	      					</div>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="card-panel teal darken-3">
							<span class="flow-text"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris"</span>
						</div>
					</div>
				</div>	
			</div>
			<div class="footer-copyright">
				<div class="container">
					<span class="left flow-text"> Copyright &copy; 2017</span>
					<span class="right flow-text">WebSite Name </span>
				</div>
			</div>
</footer>	

</body>
</html>
