{% extends 'final/base.html' %}
{% block heading %} Profile {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block scripts %}
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/heatmap.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	{{ super() }}
{% endblock %}
{% block content %}
	<script src="graph.js"></script>
		<div class="container">
			<div class="row card">
				<div class="card-content">
					<div class="col s12 m4">
						<img src="http://lorempixel.com/400/400" alt="" class="circle responsive-img">
					</div>
					<div class="col s12 m8">
						<ul class="collection">
					    <li class="collection-item center-align">
					      <span class="title flow-text">Name</span>
					    </li>
					    <li class="collection-item avatar">
					      <i class="material-icons circle green">account_circle</i>
					      <span class="flow-text title">Username</span>
					      <p>user123
					      </p>
					    </li>
					    <li class="collection-item avatar">
					      <i class="material-icons circle red">email</i>
					      <span class="flow-text title">Email</span>
					      <p>username@gmail.com
					      </p>
					    </li>
						<li class="collection-item avatar">
					      <i class="material-icons circle green">functions</i>
					      <span class="flow-text title">Institute/Organization</span>
					      <p>IIIT
					      </p>
					    </li>
						<li class="collection-item avatar">
					      <i class="material-icons circle green">location_on</i>
					      <span class="flow-text title">Location</span>
					      <p>Hydrabad
					      </p>
					    </li>
					</ul>

					</div>
				</div>
			</div>
			<div class="card row z-depth-2"> 
				<div class="card-content">
					<h3 class="card-title">Problem Statistics</h3>
					<div class="divider"></div>
					<table class="highlight responsive-table centered">
						<thead>
							<tr>
								<th>Submission Date</th>
								<th>Problem</th>
								<th>Language</th>
								<th>Verdict</th>
							</tr>
						</thead>				
						<tbody>
							<tr>
								<td>23-04-2016 12:34:43 +5:30 UTC</td>
								<td>Djikstra's Algorithm</td>
								<td>C</td>
								<td class="red-text text-darken-2">Wrong Answer</td>
							</tr>
							<tr>
								<td>23-04-2016 12:50:43 +5:30 UTC</td>
								<td>Life</td>
								<td>C++</td>
								<td class="yellow-text text-darken-2">TLE</td>
							</tr>

							<tr>
								<td>23-04-2016 13:23:43 +5:30 UTC</td>
								<td>An Easy Solution</td>
								<td>C++</td>
								<td class="green-text text-darken-2">Accepted</td>
							</tr>
						</tbody>	
					</table>
				</div>
				<div class="card-action center-align">
					<ul class="pagination">
					    <li class="disabled"><i class="material-icons">chevron_left</i></li>
					    <li class="waves-effect"><a href="#!">1</a></li>
					    <li class="waves-effect"><a href="#!">2</a></li>
					    <li class="waves-effect"><a href="#!">3</a></li>
					    <li class="waves-effect"><a href="#!">4</a></li>
					    <li class="waves-effect"><a href="#!">5</a></li>
					    <li class="disabled"><i class="material-icons">chevron_right</i></li>
					</ul>
				</div>
			</div>
	 		<div class="row card z-depth-2 hide-on-small-and-down">
	 			<div class="card-content">
	 			<h3 class="card-title">User Statistics</h3>
	 			<div class="divider"></div>
					<div id="container1" class="col m6 s12 " style="height: 400px; min-width: 400px; max-width: 800px; margin: 0 auto"></div>
					<div id="container2" class="col m6 s12 " style="height: 400px; min-width: 400px; max-width: 800px; margin: 0 auto"></div>
	 			</div>
			</div>
			</div>	
{% endblock %}