{% extends 'final/base.html' %}
{% block heading %} Profile {% endblock %}
{% block title %} {{ super() }} {% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.chips').material_chip();
			$('.chips-placeholder').material_chip({
				placeholder: 'Enter a tag',
				secondaryPlaceholder: '+Tag',
				});
			$('.chips-autocomplete').material_chip({
				autoCompleteOptions: {
					data: {
						'DP': null,
						'Brute': null,
						'Graph': null
					},
					limit: Infinity,
					minLength: 1
				}
			});
		});
		var renderTags = function() {
			var tags = $('.chips').material_chip('data');
			stringValue = []
			for(var y in tags) { stringValue.push(tags[y].tag) }
			stringValue = stringValue.join()
			$('#tags').val(stringValue);
		};
	</script>
	{{ super() }}
{% endblock %}
{% block content %}
		<div class="container">
			<div class="row card-panel">
				<div class="col s12 m4">
					<h5 class="flow-text"> Name </h5>
					<div class="divider"></div>
					<img src="http://lorempixel.com/200/200">
					<div class="divider"></div>
					<h5 class="flow-text"> Username</h5>
				</div>
				<div class="col s12 m8">
					<ul class="collection">
						<li class="collection-item avatar">
							<i class="material-icons circle">home</i>
							<span class="title">Location</span>
							<p class="flow-text">Hyderabad, Telengana</p>
						</li>
						<li class="collection-item avatar">
							<i class="material-icons circle">email</i>
							<span class="title">Email</span>
							<p class="flow-text">john@example.com</p>
						</li>
						<li class="collection-item avatar">
							<i class="material-icons circle">school</i>
							<span class="title">Institute/Organization</span>
							<p class="flow-text">Internation Institute of Information Technology</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="row card">
				<form method="POST" action="">
				<div class="card-content">
					<div class="card-title"> Upload Problem</div>
					<div class="input-field">
						<label>Problem Title</label>
						<input type="text" maxlength="100" class="validate" name="title">
					</div>
					<div class="input-field">
						<label> Add Tags</label>
						<div class="chips chips-autocomplete"></div>
						<input type="hidden" name="tags" id="tags">
					</div>
				</div>
				<div class="card-tabs">
					<ul class="tabs tabs-fixed-width">
						<li class="tab"><a href="#text">Upload Problem Text</a></li>
						<li class="tab"><a href="#generator">Upload Generator</a></li>
						<li class="tab"><a href="#solution">Upload Problem Solution</a></li>
					</ul>	
				</div>
				<div class="card-content">
					<div id="text">
						<div class="file-field input-field">
                      		<div class="col s11 file-path-wrapper">
                        		<input class="file-path validate" type="text">
                      		</div>
                      		<div class="btn col s1 teal darken-3">
                        		<span>File</span>
                        		<input type="file" name="text_file">
                      		</div>
                    	</div>
                    	<div class="divider"></div>
                    	<span class="flow-text"> Guidelines </span>
                    	<ul class="collection">
                    		<li class="collection-item"> Upload file <strong>strictly</strong> of type <em>.txt</em></li>
                    		<li class="collection-item">Your file must have headings for different sections for the parser to be able to extract the required data</li>
                    		<li class="collection-item">You MUST follows the order given below</li>
                    		<li class="collection-item">First section MUST be called 'Introduction' </li>
                    		<li class="collection-item">Second section MUST be called 'Constraints'</li>
                    		<li class="collection-item">Third Section MUST be called 'Test Cases'</li>
                    		<li class="collection-item">Within this section, every test case MUST have headings 'Input' AND 'Output'</li>
                    		<li class="collection-item">
                    			<pre class="grey lighten-3">
                    			<code>
Heading 
Introduction
&lt; introduction here &gt;
Constraints
&lt; contraints here &gt;
Test Cases 
Input
&lt; input here &gt; 
Output
&lt; output here &gt; 
Input
&lt; input here &gt; 
Output
&lt; output here &gt; 
Input
&lt; input here &gt; 
Output
&lt; output here &gt; 
                    			</code>
                    			</pre>
                    		</li>
                    	</ul>
					</div>
					<div id="generator">
						<div class="file-field input-field">
                      		<div class="col s11 file-path-wrapper">
                        		<input class="file-path validate" type="text">
                      		</div>
                      		<div class="btn col s1 teal darken-3">
                        		<span>File</span>
                        		<input type="file" name="generator_file">
                      		</div>
                    	</div>
                      	<div class="divider"></div>
                  		<span class="flow-text">Guidelines</span>
                  		<ul class="collection">
                  			<li class="collection-item">Upload file <strong>strictly</strong> of type <em>.py</em></li>
                  			<li class="collection-item">File should be <em>python3</em> and up</li>
                  			<li class="collection-item">Use the sys module and make sure testoutput is to file</li>
                  			<li class="collection-item">File name for the output file will be provided through CLI</li>
                  			<li class="collection-item">
                  				<pre class="grey lighten-3">
                  					<code>
import sys
filename = sys.argv[1]
filehandle = open(filename, "w")
&lt; insert the test generation here &gt;
                  					</code>
                  				</pre>
                  			</li>
                  		</ul>
					</div>
					<div id="solution">
						<div class="file-field input-field">
                      		<div class="col s11 file-path-wrapper">
                        		<input class="file-path validate" type="text">
                      		</div>
                      		<div class="btn col s1 teal darken-3">
                        		<span>File</span>
                        		<input type="file" name="solution_file">
                      		</div>
                    	</div>
                    	<span class="flow-text">Solution Language</span>
                    		<p>
                      			<input name="solution_language" type="radio" id="C" />
                      			<label for="C" class="flow-text">C</label>
                			</p>
                			<p>
                      			<input name="solution_language" type="radio" id="C++" />
                      			<label for="C++">C++</label>
                    		</p>
                    	<br>
						<div class="divider"></div>
						<br>
						<span class="flow-text">Guidelines</span>
						<ul class="collection">
							<li class="collection-item">Make sure the solution is EITHER in C OR C++</li>
							<li class="collection-item">Solution must output to STDOUT</li>
							<li class="collection-item">Solution must use only valid standard libraries</li>
						</ul>
					</div>
				</div>
				<div class="card-action right-align">
					<button class="btn waves-effect waves-light" type="submit" onclick="renderTags();"> Submit!</button>
				</div>
				</form>
			</div>
			<div class="row card">
				<div class="card-content">
					<h3 class="card-title"> Problem Statistics </h3>
					<div class="divider"></div>
					<table class="highlight centered responsive-table">
						<thead>
							<tr>
								<th>Problem</th>
								<th>Attempted</th>
								<th>Solved</th>
								<th>Wrong Answer</th>
								<th>TLE</th>
								<th>Efficiency</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>P4</td>
								<td>1023</td>
								<td>56</td>
								<td>543</td>
								<td>102</td>
								<td>5%</td>
							</tr>
							<tr>
								<td>P4</td>
								<td>1023</td>
								<td>56</td>
								<td>543</td>
								<td>102</td>
								<td>5%</td>
							</tr><tr>
								<td>P4</td>
								<td>1023</td>
								<td>56</td>
								<td>543</td>
								<td>102</td>
								<td>5%</td>
							</tr><tr>
								<td>P4</td>
								<td>1023</td>
								<td>56</td>
								<td>543</td>
								<td>102</td>
								<td>5%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-action left-align">
					<button class="btn waves-effect waves-light"> Export as *.xlsx</button>
				</div>
			</div>
		</div>
{% endblock %}