{% if session.user_uid is not defined %}
{% set state ='loggedout' %}
{% else %}
{% set state ='loggedin' %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
	<!-- <meta charset="utf-8"/> -->
	{% block title %}
		<title> {% block heading %} {% endblock %} </title>
	{% endblock %}
	<meta charset="utf-8" />
	<link href="{{ url_for('static', filename = 'materialize/css/materialize.min.css') }}" type="text/css" rel="stylesheet">
	<script src="{{ url_for('static', filename = 'jQuery/tmp/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename = 'materialize/js/materialize.min.js') }}"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% block scripts %}
	{% endblock %}
	{% block style %}
	{% endblock %}
	<style>
	  body {
	    display: flex;
	    min-height: 100vh;
	    flex-direction: column;
	  }

	  main {
	    flex: 1 0 auto;
	  }
	</style>
</head>
<body class="{% block color %}{% endblock %}">
	<input type="hidden" name="">{{state}}

	<header>
		<nav class="teal darken-4">
	    	<div class="nav-wrapper">
	      	 	<a href="/" class="brand-logo"><i class="material-icons">code</i><span class="flow-text">WebSite Name</span></a>
	      		<a href="#" data-activates="mobile-display" class="button-collapse"><i class="material-icons">menu</i></a>
	      		<ul class="right hide-on-med-and-down">

	      		{% if state=='loggedin' %}
			        <li> <a href="/solver/{{ user_uid}}">User Profile</a>  </li>
			        {% if role=="admin" %}
			        <li> <a href="/setter/{{ user_uid}}">Admin Profile</a>  </li>
			        {% endif %}
			    {% endif %}

			        <li> <a href="/">Problems</a>  </li>
			        <li> <a href="/problems/23">Problem </a>  </li>
			        
			        <li> <a href='/comments/23'>Comments </a></li>
			   
			   		{% if state=='loggedout' %}
			        <li> <a href="/signin">Sign In</a>  </li>
			        <li> <a href="/signup">Sign Up</a>  </li>
					{% elif state=='loggedin' %}
	      			<li> <a href="/logout"> Logout</a>  </li>
	      			{% endif %}

	      		</ul>
		    	<ul class="side-nav" id="mobile-display">
				{%if state=="loggedin"%}
			        <li> <a href="/solver/{{ user_uid}}">User Profile</a>  </li>
			        {% if role=="admin" %}
			        <li> <a href="/setter/{{ user_uid}}">Admin Profile</a>  </li>
			        {% endif %}
			    {% endif %}

			        <li> <a href="/">Problems</a>  </li>
			        <li> <a href="/problems/23">Problem </a>  </li>
			        
			        <li> <a href='/comments/23'>Comments </a></li>
			   
			   		{% if state=="loggedout"%}
			        <li> <a href="/signin">Sign In</a>  </li>
			        <li> <a href="/signup">Sign Up</a>  </li>
					{%elif state=="loggedin"%}
	      			<li> <a href="/logout"> Logout</a>  </li>
	      			{% endif%}

		      	</ul>
	    	</div>
		</nav>
	</header>
	<main class="teal lighten-2">
	{% block body_scripts %}
	{% endblock %}
	{% block content %}
	{% endblock %}
	</main>
	<footer class="page-footer teal darken-4">
			<!-- <div class="container" style="width:100%">
				<div class="row">
					<div class="col s12 m12">
						  <div class="collection">
						  	<div class="collection-item"></div>
						  	<div class="collection-item">
						  		<div class="chip">
						  			<img src="http://lorempixel.com/200/200">
						  			Neha M.
						  		</div>
						  		<div class="chip">
						  			<img src="http://lorempixel.com/200/200">
						  			Shubh M.
						  		</div>
						  		<div class="chip">
						  			<img src="http://lorempixel.com/200/200">
						  			Pranay G.
						  		</div>
						  		<div class="chip">
						  			<img src="http://lorempixel.com/200/200">
						  			Pratik K.
						  		</div>
						  	</div>
						  </div>
					</div>
					<div class="col s12 m6">
						<div class="card-panel teal darken-3">
							<span class="flow-text"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris"</span>
						</div>
					</div>
				</div>	
			</div> -->
			<div class="footer-copyright">
				<div class="container">
					<span class="left flow-text"> Copyright &copy; 2017</span>
					<span class="right flow-text">WebSite Name </span>
				</div>
			</div>
	</footer>
</body>
</html>