{% extends 'base.html.j2' %}
{% block title %} {{ super() }}  {% endblock %}
{% block heading %} NOT FOUND {% endblock %}
{% block content %}
<div class="container">
	<div class="card-panel large transparent hoverable">
	<div class="valign-wrapper">
			<h4 class="flow-text valign"><i class="material-icons">error</i> Oops! The page you're looking for does not exist. Please check your URL again.</h4>
			<p class="flow-text">
				Error type : {{ error }}
			</p>
	</div>
	</div>
</div>
{% endblock %}